body {
	background-image: url('/static/img/login.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

body > * {
	background-color: floralwhite;
}

.tab-pane {
	padding: 20px;
}

.hidden {
	display: none;
}

.logoutForm {
	margin-left: auto;
}

.add-student, .add-marks {
	max-width: 800px;
	padding: 10px;
	margin: 0 auto;
	border: 3px lightskyblue solid;
	border-radius: 5px;
}

.xhr-state>* {
	display: none;
}

.xhr-state .active {
	display: inline;
}

.xhr-loading {
	color: grey;
}

.xhr-success {
	color: green;
}

.xhr-fail {
	color: red;
}
